<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/cinema_db?useSSL=false&amp;allowPublicKeyRetrieval=true&amp;serverTimezone=UTC
        </property>
        <property name="hibernate.connection.username">cinema_user</property>
        <property name="hibernate.connection.password">cinema_pass</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Show executed SQL in console -->
        <property name="hibernate.show_sql">true</property>

        <!-- Schema update mode -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapping classes -->
        <mapping class="mate.academy.model.Movie"/>
        <mapping class="mate.academy.model.CinemaHall"/>
        <mapping class="mate.academy.model.MovieSession"/>
        <mapping class="mate.academy.model.User"/>
    </session-factory>
</hibernate-configuration>
